* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body, div, section, header, main {
  display: flex;
  flex-direction: column;
}

p {
  font-size: 1.20em;
  line-height: 1.75em;
}

blockquote {
  font-style: italic;
  font-size: 1.20em;
  line-height: 1.5em;
  background-color: #eee;
  color: #555;
  margin: 24px;
  padding: 24px;
}

.full-page {
  min-height: 100vh;
}

.center {
  align-items: center;
  justify-content: center;
}

.info-section {
  text-align: center;
}

.info-section h2 {
  margin-top: 36px;
  margin-bottom: 16px;
}

.info-section p {
  margin-top: 16px;
  margin-bottom: 16px;
  color: #333;
}

.technology-card {
  vertical-align: middle;
  margin: 10px;
  padding: 16px;
  border-radius: 5px;
  background-color: #eff;
  text-decoration: none;
  color: #333;
}

.technology-card:hover {
  background-color: #cff;
  cursor: pointer;
}

#title-card {
  color: #ddd;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url("../images/Sunlit Path 1920x1080.jpg");
}

#main-title {
  position: absolute;
  bottom: 16%;
  left: 8%;
  font-size: 24px;
}

#dialogue-quote {
  position: absolute;
  top: 10%;
  right: 4%;
  width: 256px;
}

#about {
  background-color: white;
  padding: 36px 20%;
}

#technologies {
  margin-top: 24px;
  margin-bottom: 40px;
  background-color: white;
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 33% 33% 33%;
}

#contribute {
  position: relative;
  background-color: #eee;
}

#wsp-logo {
  position: absolute;
  bottom: 0;
}


/* Modal */
.modal {
  display: none;
}

.modal.is-open {
  display: block;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
}

.modal-container {
  background-color: #fff;
  padding: 20px;
  margin: 20px;
  max-width: 960px;
  max-height: 100vh;
  border-radius: 4px;
  overflow-y: auto;
}

.modal-title {
  margin: 16px;
  text-align: center;
}

.modal-content p {
  color: #333;
  margin: 16px;
}
